*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.parent{
border: 5px solid blue;
background-color: aqua;
height: 500px;
}

.flexContainer{
display: flex;
/* justify-content: flex-start; */
/* align-items: stretch; */
/* flex-direction: row;*/
flex-wrap:wrap; 
/* flex-flow: row wrap; */
align-content: flex-start;
}

.child{
    border: 5px solid rgb(161, 161, 10);
    background-color: rgb(241,241,194);
    margin: 5px;
    width: 200px;
    /* height: 200px; */
}

.flexItem{
    align-self: ;
}